.container {
	@apply max-w-screen-md;
	margin: 2.5rem auto 0;
}

.container > h1 {
	@apply font-extrabold mb-4;
	font-size: 3rem;
}

.container > a {
	@apply font-medium underline;
	font-size: 1.25rem;
}

.container > div {
	margin: 0 auto;
}

.container > div > p {
	@apply mt-12;
	font-size: 1.25rem;
}

/* lg breakpoint */
@media (max-width: 1024px) {
	.container {
		@apply max-w-screen-sm;
	}

	.container > h1 {
		font-size: 2rem;
	}
}
