.container {
	margin: 0 auto;
	max-width: 640px;
}

.content {
	display: flex;
	flex-direction: column;
}

.content > h1 {
	font-size: 2rem;
	font-weight: 800;
	justify-self: flex-start;
	margin: 2.5rem 0;
}

.item {
	display: flex;
	flex-direction: column;
	margin: 2.5rem auto;
	padding: 0.75rem;
}

.item > h2 {
	font-size: 1.5rem;
	font-weight: 700;
	justify-content: start;
	margin-bottom: 0.5rem;
}

.item > div {
	min-width: 640px;
}

.noData {
	margin-top: 3rem;
}

.link {
	text-decoration-line: underline;
	color: #3b82f6;
}
